@import "tailwindcss";

@theme {
  /* font */
  --font-sans: "Karla Variable", sans-serif;
  --text-2xs: 0.6875rem;

  /* color */
  --color-primary-green-200: hsl(148, 38%, 91%);
  --color-primary-green-600: hsl(169, 82%, 27%);
  --color-primary-red: hsl(0, 66%, 54%);

  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-grey-500: hsl(186, 15%, 59%);
  --color-neutral-rey-900: hsl(187, 24%, 22%);
}
