@import "tailwindcss";

/* additional css base */
@layer base {
  html {
    /* Enable smooth scrolling for anchor links */
    scroll-behavior: smooth;
    /* Enable keywords animations */
    interpolate-size: allow-keywords;
  }

  /* Applies styles when Reduced Motion is enabled */
  @media screen and (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.001ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.001ms !important;
      scroll-behavior: auto !important;
    }
  }

  /* Avoid text overflows */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  /* Improve line wrapping */
  p,
  label {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }
}

/* theme */
@theme {
  /* font */
  --font-sans: "Karla Variable", sans-serif;
  --text-2xs: 0.6875rem;

  /* color */
  --color-primary-green-200: hsl(148, 38%, 91%);
  --color-primary-green-600: hsl(169, 82%, 27%);
  --color-primary-red: hsl(0, 66%, 54%);

  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-grey-500: hsl(186, 15%, 59%);
  --color-neutral-grey-900: hsl(187, 24%, 22%);
}

/* utility */
@utility input {
  /* Default / Base State */
  @apply block-13 inline-full px-6 border border-neutral-grey-500 rounded-lg transition-colors duration-300;

  /* Default Interactions */
  &:hover {
    @media (hover: hover) {
      @apply border-green-600 ring-1 ring-green-600 ring-inset;
    }
  }

  &:focus {
    @apply border-green-600 outline-none ring-1 ring-green-600 ring-inset;
  }

  /* Validation: Invalid State */
  &:user-invalid {
    @apply bg-red-100 border-primary-red;

    &:hover {
      @media (hover: hover) {
        @apply border-primary-red ring-primary-red;
      }
    }

    &:focus {
      @apply border-primary-red ring-primary-red;
    }
  }

  /* Validation: Valid State */
  &:valid {
    @apply bg-green-50 border-green-500;

    &:hover {
      @media (hover: hover) {
        @apply border-green-500 ring-green-500;
      }
    }

    &:focus {
      @apply border-green-600 ring-green-600;
    }
  }
}

@utility radio {
  /* Default / Base State */
  @apply block-13 inline-full px-6 border border-neutral-grey-500 rounded-lg transition-colors duration-300;

  /* Default Interactions */
  &:hover {
    @media (hover: hover) {
      @apply border-green-600 ring-1 ring-green-600 ring-inset;
    }
  }

  &:focus-within {
    @apply border-green-600 ring-1 ring-green-600 ring-inset;
  }

  /* Validation: Invalid State */
  &:has(:user-invalid) {
    @apply bg-red-100 border-primary-red;

    &:hover {
      @media (hover: hover) {
        @apply border-primary-red ring-primary-red;
      }
    }

    &:focus {
      @apply border-primary-red ring-primary-red;
    }
  }

  /* Validation: Checked state */
  &:has(:checked) {
    @apply bg-green-50 border-green-600;

    &:hover {
      @media (hover: hover) {
        @apply border-green-600 ring-green-600;
      }
    }

    &:focus-within {
      @apply border-green-600 ring-green-600;
    }
  }
}

@utility btn-green {
  @apply block-15 inline-full bg-primary-green-600 rounded-lg font-bold text-white transition-colors duration-300 cursor-pointer;

  &:hover {
    @media (hover: hover) {
      @apply bg-green-900;
    }
  }

  &:focus-visible {
    @apply bg-green-900;
  }
}

@utility trim-both-lowercase {
  text-box: trim-both cap text;
}

@utility trim-both-capital {
  text-box: trim-both cap alphabetic;
}
